<% modifier ||= "" %>
<% image ||= "" %>
<% heading ||= "" %>
<% copy ||= "" %>
<% link_url ||= "#" %>
<% link_copy ||= "" %>

<!-- Component: Hero -->
<section class="hero hero--<%= modifier %>" <% if !image.empty? %>style="background-image:url('/images/<%= image %>');"<% end %>>

  <div class="hero__inner">

    <div class="hero__content">

      <h2 class="hero__heading"><%= heading %></h2>

      <p class="hero__copy"><%= copy %></p>

      <a class="hero__cta" href="<%= link_url %>"><%= link_copy %></a>

    </div>

    <a class="hero__scroll" href="#"></a>

  </div>

</section>
