<% modifier ||= "" %>
<% image ||= "" %>
<% heading ||= lorem.name %>
<% subheading ||= (lorem.words (2)).capitalize %>
<% copy ||= lorem.paragraph %>

<!-- Component: Profile -->
<section class="profile<% if !modifier.empty? %> profile--<%= modifier %><% end %>">
  <figure class="profile__figure">
    <%= image_tag image_url(image), alt: "#{heading}" %>
  </figure>
  <div class="profile__content">
    <h4 class="profile__heading"><%= heading %></h4>
    <h5 class="profile__subheading"><%= subheading %></h4>
    <div class="profile__copy">
      <%= copy %>
    </div>
  </div>
</section>
